.kotak-1{
    padding: 10px 15px 2px;
    border: solid blue 1px;
    background-color: red;
}
.kotak-2{
    padding: 10px 15px 2px;
    border: solid blue 1px;
    background-color: red;
}
.kotak-3{
    background-image: ;
}